
.gtu-container {
    width: 230px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.gtu-row {
    margin-top: 15px;
}

.gtu-but-row {
    text-align: right;
}

.gtu-red {
    color: #f00;
}

.gtu-input-user {
    width: 100%;
}

.gtu-result {
    margin-top: 20px;
}

.gtu-small {
    font-size: 11px;
    font-family: sans-serif;
}